{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" href="{% static 'bootstrap.min.css' %}">
    <!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
    <script src="{%  static 'jquery.1.12.4.min.js' %}"></script>
    <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
    <script src="{% static 'bootstrap.min.js' %}"></script>

</head>
<body>
 <form class="form-horizontal" action="/logsubmit" method="get">
    <fieldset>
      <div id="legend" class="">
        <legend class="">登录信息</legend>
      </div>
    <div class="control-group">

          <!-- Text input-->
          <label class="control-label" for="input01">房间号</label>
          <div class="controls">
            <input type="text" class="input-xlarge" name="id">
            <p class="help-block"> </p>
          </div>
        </div>

    <div class="control-group">

          <!-- Text input-->
          <label class="control-label" for="input01">服务器IP</label>
          <div class="controls">
            <input type="text" placeholder="10.28.174.21" class="input-xlarge" name="ip">
            <p class="help-block"> </p>
          </div>
        </div><div class="control-group">
          <label class="control-label"> </label>

          <!-- Button -->
          <div class="controls">
            <input class="btn btn-success" type="submit" value="登录">
          </div>
        </div>

    </fieldset>
  </form>

</body>
</html>
